body {
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100vw;

  background-image: url("/public/pexels-adrien-olichon-2387566.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.App {
  width: 100vw;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}
